# **Python Data Types**


*   Python data types are actually classes, and the defined variables are their instances or objects.
*   Since Python is dynamically typed, the data type of a variable is determined at runtime based on the assigned value.


*    The data types are used to define the type of a variable.
*   It represents the type of data we are going to store in a variable and determines what operations can be done on it.

# **Types of Data Types**


*   Basic
*   Advanced

# **Basic Data Types**


*   Integer
*   Float

*   Boolean
*   Complex

# **Integer**


*   Integer numbers are whole numbers with no decimal places.
*   They can be positive or negative numbers.


*   For example, 0, 1, 2, 3, -1, -2, and -3 are all integers. Usually, youâ€™ll use positive integer numbers to count things.
*   In Python, the integer data type is represented by the int class.

In [ ]:
a=10
print(a)

Nikhil=100
print(Nikhil)

zero=0
print(zero)

first_rank=1
print(first_rank)

emp_id=123
print(emp_id)

b=3
print(b)

salary=10000
print(salary)

sales=152
print(sales)

borrow=-1000
print(borrow)

Target_one=4
print(Target_one)

# **Float**


*   Floating-point numbers, or just float, are numbers with a decimal place
*   The syntax of float in Python is float(value).

In [ ]:
height=5.2
print(height)

weigth=68.0
print(weigth)

x=1.0
print(x)

min=8.5
print(min)

max=9.5
print(max)

avg=1
print(avg)

greater=10
print(greater)

sum=2.5
print(sum)

pie=3.75
print(pie)

grade=8.62
print(grade)

# **Complex**


*   The complex data type is used to represent complex numbers.
*    A complex number has a real part and an imaginary part, which are both floats.

In [ ]:
y=3+4j
print(y)

x=4+2j
print(x)

z=5j
print(z)

ab_cd=1+2j
print(ab_cd)

complex_number=5+7j
print(complex_number)

a=5-7j
print(a)

real=1+2j
print(real)

p=1-2j
print(p)

# **Boolean**


*  The bool data type represents boolean values, which can be either True or False.
*   These are the two possible values of the bool type, and they are often used in conditional statements, loops, and logical operations.

In [3]:
print(10<1)
print(100>1000)
print(0<1<100)
a="Nikhil"
print(bool(a))

False
False
True
True