# **Variables in Python**


*   Python has no command for declaring a variable.
*   Variables do not need to be declared with any particular type, and can even change type after they have been set.


*   A Python variable is a reserved memory location to store values.
*   Variables are referred to "envelop" or "buckets" where information can be maintained and referenced


  

*   Variables can be re-declared even after you have declared them for once

# **How to Declare and use a Variable**


*   We will declare variable "a" and print it.
a=100
print(a)

```
# This is formatted as code
```


# **Re-declare a variable**


*   You can re-declare the variable even after you have declared it once.
a=100
print(a)
a=200
printa(a)

```
# This is formatted as code
```

# **Rules to create a variables**

*   A variable name must start with a letter or the underscore character.
*   A variable name cannot start with a number.


*   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
*   Variable names are case-sensitive

## ***Types of Variables ***


*   Valid Variables
*   Invalid Variables

# **Valid Variables**


*   A variable name cannot start with a number.

# **Invalid Variables**


*   A variable name cannot be any of the Python keywords.

In [2]:
a=10
print(a)

b=-1
print(b)

ab_c=20
print(ab_c)

Date_of_birth=11
print(Date_of_birth)

fruits="apple"
print(fruits)

unique_number=10
print(unique_number)

exam_result="pass"
print(exam_result)

temperature=28
print(temperature)

big_number=123456789
print(big_number)

subject="english"
print(subject)

a1_=1
print(a1_)

first_name="Nikhil"
print(first_name)

last_name="Teja"
print(last_name)

height=5.2
print(height)

weight=60
print(weight)

movie="kalki"
print(movie)

mother_name="laxmi"
print(mother_name)

father_name="sekhar"
print(father_name)

b1_2=10
print(b1_2)

10
-1
20
11
apple
10
pass
28
123456789
english
1
Nikhil
Teja
5.2
60
kalki
laxmi
sekhar
10

In [3]:
-1=1
print(-1)

+b="nikhil"
print(+b)

123=123
print(123)

@nikhil=12
print(@nikhil)

-#1="nikhil"
print(-#1)

nikhil teja =12
print(nikhil teja)

!1="nikhil"
print(!1)

*start=12
print(*start)

/12="apple"
print(/12)

^12nikhil=12
print(^12nikhil)

print="invalid"
print(print)

if="123"
print(if)

123abc!=
print(123abc!)

SyntaxError: invalid decimal literal (<ipython-input-3-5f3111d178cd>, line 28)